<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <!-- style -->
  <link rel="stylesheet" href="../libs/css/element-ui-2.8.2.css">
  <link rel="stylesheet" href="../libs/css/font.css">
  <link rel="stylesheet" href="mu.css">

  <!-- library -->
  <script src="../libs/jquery-3.2.1.min.js"></script>
  <script src="../libs/fabric.min.js"></script>
  <script src="../libs/vue-2.6.10.js"></script>
  <script src="../libs/element-ui-2.7.2.js"></script>

  <!-- custom -->
  <script src="../libs/ajax-1.2.0.js"></script>
  <script src="../libs/ws-1.0.js"></script>
  <script src="../libs/data-attach-1.0.js"></script>
  <script src="../libs/runner.js"></script>
  <script src="mu.js"></script>
  <script>
    window.cavs = {host: 'localhost', port: 3201, name: 'Canval Grap', version: '1.0.0 bate'}
    window.cavs.port_cfg = {port: window.cavs.port}
    $(function () {
      MU.init();
    })
  </script>
</head>
<body>
<div id="app">
  <div>
    <el-button @click="handleDialogShow">添加</el-button>
    <el-button @click="handleDialogSaveCanvas">保存数据</el-button>
    <el-button @click="handleDialogLoadCanvas">加载数据</el-button>
    <el-select @change="handleSelectDataToRedraw" value="" placeholder="请选择">
      <el-option
          v-for="item in dataCanvasDatas"
          :key="item.id"
          :label="'data.'+item.id"
          :value="item.content">
      </el-option>
    </el-select>


    <el-button @click="handleToJson">toJsonLog</el-button>
    <el-button @click="handleToObject">toObjectLog</el-button>
    <el-button @click="handleShowAllObjects">ObjectsLog</el-button>
  </div>
  <div class="draw-area">
    <canvas id="canvas" width='800' height='600' style="border: 1px solid plum"></canvas>
    <div>
    </div>
  </div>
  <div class="foolr-slow">
    <ul>
      <li v-for="ast in dataAssets">
        <img :src="photoDir + ast.photo" :alt="ast.name" width="40" height="40"
             :title="'双击添加'+ ast.name + '设备'" @dblclick="handleAssetDclick(ast)">
      </li>
    </ul>
  </div>

  <div class="exp">
    <el-dialog
        :title="assetEditDialog.title[assetEditDialog.active]"
        :visible.sync="assetEditDialog.visibleAssetDialog"
        :width="assetEditDialog.width"
        :before-close="handleDialogClose"
    >
      <el-form :model="formAsset">
        <el-form-item label="设备编号">
          <el-input v-model="formAsset.code" auto-complete="off"></el-input>
        </el-form-item>

        <el-form-item label="设备名称">
          <el-input v-model="formAsset.name" auto-complete="off"></el-input>
        </el-form-item>

        <el-form-item label="设备额定电压">
          <el-input v-model="formAsset.voltage" auto-complete="off"></el-input>
        </el-form-item>

        <el-form-item label="设备额定电压">
          <el-input v-model="formAsset.current" auto-complete="off"></el-input>
        </el-form-item>

        <el-form-item label="设备额定功率">
          <el-input v-model="formAsset.power" auto-complete="off"></el-input>
        </el-form-item>

        <el-form-item label="图片">
          <input type="file" @change="handleDialogFileChange"/>
        </el-form-item>
      </el-form>

      <!-- button -->
      <span slot="footer" class="dialog-footer">
        <el-button @click="handleDialogCancel">取 消</el-button>
        <el-button type="primary" @click="handleDialogSave">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</div>
</body>
</html>

<!--

-- 查看绑组的实例：
http://fabricjs.com/using-transformations


-- 为了实现绑点，结合目前了解的情况来看，必须给指定唯一编号和点表的对应关系才能实现；
 在序列化的过程中，实际上，会将其他的基本信息给丢掉，所以保存和恢复之后，我们将失去设备关联信息，为了找到对应关系
 那么，创建的时候，使用text属性记录唯一的展位编号，然后加载的时候，建立好对应的关系，相当于我们需要管理每个对象-设备
 关联的信息才能实现最终的数据的绑定，为了简化这个操作，需要封装部分js库赖支持。


 -- 一个是请求模板库，获取数据模板
 -- 一个是获取（对象-点表-模板）记录表，用于存储关联信息
 -- 加载时，选择模板，然后，针对这个模板，获取关联设备点的数据，然后


(1) 转换序列化的时候，会丢失非Object中的属性
因此可以自行扩充附加属性来解决这个问题

rect.toObject =(function（toObject){
  return function(){
    return fabric.util.object.extend(toObject.call（this），{
      name：this.name
    });
  };
})(rect.toObject);

-->

