<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <!-- style -->
  <link rel="stylesheet" href="libs/css/element-ui-2.8.2.css">
  <link rel="stylesheet" href="libs/css/font.css">
  <link rel="stylesheet" href="mu.css">

  <!-- library -->
  <script src="libs/jquery-3.2.1.min.js"></script>
  <script src="libs/zrender.min.js"></script>
  <script src="libs/vue-2.6.10.js"></script>
  <script src="libs/element-ui-2.7.2.js"></script>

  <!-- custom -->
  <script src="libs/ajax-1.2.0.js"></script>
  <script src="mu.js"></script>
  <script>
    window.cavs = {host: 'localhost', port: 3201, name: 'Canval Grap', version: '1.0.0 bate'}
    window.cavs.port_cfg = {port: window.cavs.port}
    $(function () {
      MU.init();
    })
  </script>
</head>
<body>
<div id="app">
  <div class="draw-area">
    <canvas id="main"></canvas>
    <div>
      <!--<p v-if="current">x: {{current.position[0]}}</p>-->
      <!--<p v-if="current">y: {{current.position[1]}}</p>-->
      <!--<p v-if="current">r：{{current.rotation}}</p>-->
      <!--<p v-if="current">image：{{current.style.image}}</p>-->
      <!--<p v-if="current">w：{{current.style.width}}</p>-->
      <!--<p v-if="current">h：{{current.style.height}}</p>-->
      <!--<p v-if="current">字体大小：{{current.style.fontSize}}</p>-->
      <!--<p v-if="current">当前对象类型: {{current.meType}}</p>-->
      <!--<p v-if="current">当前对象关联设备id: {{current.assetId}}</p>-->
      <!--<p v-if="current">当前关联属性为：{{current.propType}}</p>-->
    </div>
  </div>
  <div class="foolr-slow">
    <ul>
      <li v-for="ast in dataAssets">
        <img :src="photoDir + ast.photo" :alt="ast.name" width="40" height="40"
             :title="'双击添加'+ ast.name + '设备'" @dblclick="handleAssetDclick(ast)">
      </li>
    </ul>
  </div>
</div>

</body>
</html>